.uploadForm {
  width: 100%;
  margin: 1rem 0;

  .addFile {
    position: relative;
    width: fit-content;
    display: block;
    margin: auto;

    button {
      background-color: transparent;
      border: none;
    }

    input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}
